body {
    font-family: ".SF NS";
    background-color: black;
    color: white;
    padding: 12px;
}

.wd-borders-top {
    border: 1px solid rgb(47, 51, 54);
    padding-left:16px;
    padding-top: 12px;
    width: auto;
}

.wd-title-type {
    font-size: 20px;
    color: white;
}

.wd-username-handle {
    font-size: 13px;
    color: darkgray;
    padding-bottom: 12px;
}

.wd-borders-post {
    border: 1px solid rgb(47, 51, 54);
    padding-left:16px;
    padding-top:12px;
    padding-bottom: 12px;
    height: auto;


}

.wd-avatar-icon {
    border-radius: 50px;
    width: 48px;
    height: 48px;
}

.wd-avatar-icon {
    border-radius: 50px;
    width: 48px;
    height: 48px;
    float: left;
}

.wd-main-content {
    padding-left: 60px;
    font-size: 15px;
    color: white;
    width: 506px;
    padding-right: 16px;
    padding-bottom: 16px;
}

.wd-username-author {
    padding-left: 12px;
    font-size: 15px;
}

.wd-handle {
    font-size: 15px;
    color: darkgray;
}

/*.wd-news-content-border {*/
/*    padding-top: 12px;*/
/*    border: solid darkgray 1px;*/
/*    width: 504px;*/
/*    height: 264px;*/
/*}*/

/*.wd-border-news {*/
/*    border: solid darkgray 1px;*/
/*    width: 504px;*/
/*    height: 264px;*/
/*    border-radius: 30px 30px 0px 0px;*/
/*    padding-left: 60px;*/

/*}*/

.wd-picture-measures {
    border-radius: 30px 30px 0px 0px;
}

.wd-main-news-picture {
    width: 504px;
    height: 264px;
    margin-left: 60px;
    border: solid rgb(47, 51, 54) 1px;
    /*border-radius: 30px 30px 0px 0px;*/
}

.wd-title-news{
    /*margin-left: 60px;*/
    padding-top:12px;
    padding-left:12px;
    font-size: 15px;
    border-radius: 30px 30px 0px 0px;
}

.wd-content-news {
    padding: 12px;
    /*margin-left: 60px;*/
    font-size: 15px;
    width: auto;
    height: auto;
    color: darkgray;
}

.wd-content-border {
    width: 504px;
    height: auto;
    margin-left: 60px;
    padding-top: 12px;
    border-radius: 0px 0px 30px 30px;
    border: solid rgb(47, 51, 54) 1px;
    border-top: black;
}

.wd-icons {
    margin-left: 60px;
    padding-top:12px;
}
.wd-numbers-reaction {
    padding-top:12px;
    padding-left: 12px;
    color: darkgray;
    font-size: 12px;
    padding-right: 77px;
}

.wd-selection-number {
    color:red;
    font-size: 12px;
    padding-right: 77px;
    padding-left: 12px;

}

.wd-selection-icon {
    color: red;
    font-size: 12px;

}







